* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgb(192, 186, 231);
}

h1 {
  width: 80%;
  margin: 30px auto 0;
  text-align: center;
  color: rgb(144, 138, 227);
}

form {
  width: 80%;
  margin: 30px auto 0;
}

input {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  border: 3px solid rgb(144, 138, 227);
}

ul {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

li {
  width: 100%;
  padding: 20px;
  border: 1px solid rgb(144, 138, 227);
  background-color: #fff;
  font-size: 20px;
  border-radius: 40px;
  margin-bottom: 2px;
}

.list-item {
  list-style: none;
}

.text-line {
  text-decoration: line-through;
}

.cotion {
  opacity: 0;
  -moz-text-align-last: left;
       text-align-last: left;
}

.display {
  opacity: 1;
  text-align: left;
}

.flex {
  color: rgb(198, 84, 223);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.tips {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

.tips-flex {
  position: relative;
}

.tips-text {
  background-color: white;
  width: 200px;
  padding: 20px;
  border-radius: 30px;
  position: absolute;
  top: -75px;
  left: -200px;
  border: 1px solid rgb(53, 225, 221);
  opacity: 0;
}
.tips-text p {
  margin: 0;
}

.tips-display {
  opacity: 1;
}